/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --ff-base: "Sora", sans-serif;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-extra-bold: 800;
}

body {
  font-family: var(--ff-base);
}

a {
  color: #000;
  text-decoration: none;
  font-weight: var(--fw-semibold);
}

.fs-semibold-title, .fs-bold-title, .fs-regular-subtitle, .fs-regular-title {
  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
  text-align: left;
}

.fs-regular-title {
  font-weight: var(--fw-regular);
}

.fs-regular-subtitle {
  font-size: 2rem;
  font-weight: var(--fw-regular);
}

.fs-bold-title {
  font-weight: var(--fw-extra-bold);
}

.fs-semibold-title {
  line-height: normal;
  font-size: 2rem;
  font-weight: var(--fw-semibold);
}

.fs-bold-bordered-title {
  background-color: black;
  background-clip: text;
  letter-spacing: -1px;
  font-weight: 800;
  -webkit-text-stroke: 6px transparent;
  color: white;
}

.fs-gray-paragraph {
  font-size: 20px;
  font-weight: 400;
  color: #71717a;
}

.fs-black-paragraph {
  font-size: 20px;
  font-weight: var(--fw-semibold);
  color: #000;
}

@media screen and (max-width: 500px) {
  .fs-regular-title, .fs-regular-subtitle, .fs-bold-title, .fs-semibold-title {
    font-size: 2.5rem;
    text-align: center;
    line-height: 5rem;
    text-align: left;
  }
  .fs-semibold-title {
    font-size: 1.5rem;
    line-height: normal;
  }
  .fs-bold-title {
    line-height: normal;
    font-weight: var(--fw-extra-bold);
  }
}
.primary-button, button[data-icon=download] {
  border: none;
  color: white;
  cursor: pointer;
  padding: 16px 32px;
  background-color: #000;
}

button[data-icon=download] {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-width: 10rem;
  max-height: 4rem;
  border-radius: 0.5rem;
}

button[data-icon=download]::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/ressources/icons/download.svg);
}

.primary-button {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-width: 10rem;
  max-height: 4rem;
  border-radius: 0.5rem;
  background-color: #000;
}

/*Useful class-based components abstracts*/
.display-appear {
  display: block !important;
}

.opacity-appear {
  opacity: 1 !important;
}

/*Useful UI components*/
.social-icons-group {
  gap: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: row wrap;
}

.tech-skill, .tech-skill-black {
  border: 1px solid black;
}

header {
  --padding-spacing: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  margin: auto;
  max-width: 1280px;
  padding: 1rem 0;
}
header .amburger-menu {
  display: none;
}

.navbar-links-list-parent {
  gap: 2rem;
  list-style: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

/*Responsive styles for the header*/
@media screen and (max-width: 1140px) {
  header {
    gap: 16px;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  /*Reseting all the default parameters for the mobile version*/
  header {
    /* Displaying the amburger-menu*/
    /* Hidding the navbar and the button from the header*/
  }
  header .amburger-menu {
    display: block;
  }
  header .logo-and-menu {
    gap: calc(100vw - 14rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  header .navbar-links-container {
    display: none;
  }
  header button[data-icon=download] {
    opacity: 0;
  }
  /* Creating a new disposition for the navbar menu */
  .navbar-links-container {
    width: 100%;
  }
  .navbar-links-container .navbar-links-list-parent {
    display: block;
    padding: 0;
  }
  .navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border: 0.01px solid #27272a;
    width: 100%;
    height: 4rem;
    background-color: #f4f4f5;
  }
}
.skills {
  gap: 2rem;
  margin: 8rem auto 2rem;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.skills .tech-skills-container {
  --box-general-size: 11.5rem;
  gap: 4rem;
  max-width: 1216px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border: 2px solid green;
}

.tech-skills-container .tech-skill, .tech-skills-container .tech-skill-black {
  width: var(--box-general-size);
  height: var(--box-general-size);
  gap: 2rem;
  border-radius: 4px;
  border: 3px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}

.tech-skill-black {
  background-color: #000;
}
.tech-skill-black .skill-name {
  color: white;
}

@media screen and (max-width: 500px) {
  .skills {
    /*
        Updating the variable to reduce the skill's box
        size with the length of the screen
    */
  }
  .skills .tech-skills-container {
    --box-general-size: 10rem;
    gap: 1rem;
  }
}
.contact-form {
  gap: 1rem;
  max-width: 35rem;
  border: 1px solid black;
  padding: 1rem;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: wrap column;
}
.contact-form input, .contact-form textarea {
  padding: 1rem 1.5rem;
  outline: none;
  border-radius: 4px;
  border: 2px solid #000;
}
.contact-form input {
  height: 3.5rem;
}
.contact-form textarea {
  resize: none;
}
.contact-form .button-section {
  gap: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

@media screen and (max-width: 500px) {
  .contact-form .button-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
  }
}
/*Hero header section*/
.hero-header {
  margin: 1rem auto 6rem;
  padding: 40px 0;
  border: 2px solid red;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.hero-header .hero-header-img {
  margin-left: -156px;
  border: 1px solid black;
}
.hero-header .hero-header-content {
  gap: 4rem;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-flow: wrap column;
}

.hero-header-content * {
  border: 1px solid black;
  max-width: 600px;
}
.hero-header-content .social-icons-group {
  bottom: -8rem;
  position: absolute;
}

.hero-header-text {
  gap: 1rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-flow: wrap column;
}

/*Experience section*/
.experiences {
  gap: 4rem;
  padding: 4rem;
  margin: 4rem auto;
  color: #f4f4f5;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
  background-color: #000;
}
.experiences .experiences-section-title {
  color: white;
}
.experiences .experience-box-container {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.experience-box-container .experience-box {
  gap: 1rem;
  padding: 24px 30px;
  max-width: 1168px;
  border-radius: 8px;
  border: 1px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.experience-box-container .gray-box {
  border: none;
  background-color: #27272a;
}

.experience-box .experience-subtitle-informations {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}
.experience-box .experience-date {
  font-weight: 800;
}

.experience-subtitle-informations {
  border: 2px solid green;
}
.experience-subtitle-informations .experience-subtitle {
  gap: 2rem;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.experience-subtitle h3 {
  border: 1px solid black;
  color: white;
}

/*About section*/
.about {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border: 2px solid green;
  margin: 2rem auto;
  max-width: 1280px;
}
.about h2 {
  padding: 0;
  border: 2px solid green;
}
.about .about-content {
  gap: 2rem;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: wrap column;
}

.p-container {
  gap: 2rem;
  padding: 2rem;
  max-width: 692px;
  border: 2px solid violet;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.p-container p {
  font-size: 18px;
}

/*Project section*/
.projects {
  color: white;
  background-color: #000;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.projects .project-container {
  max-width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.project-container .project {
  gap: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap wrap;
}

.project .project-content {
  max-width: 592px;
}

.project-content * {
  margin-bottom: 1rem;
}

/*Testimonials section*/
.testimonials {
  gap: 2rem;
  margin: 4rem auto;
  border: 2px solid green;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.testimonials .testimonials-container {
  gap: 2rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.testimonial {
  gap: 0.5rem;
  padding: 2rem auto;
  height: 24.5rem;
  border-radius: 1rem;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap column;
}
.testimonial hr {
  width: 6rem;
  height: 0.1rem;
}
.testimonial .testimonial-description {
  padding: 1rem;
  max-width: 292px;
  text-align: center;
}
.testimonial .testimonial-name {
  color: #27272a;
  font-weight: var(--fw-semibold);
}
.testimonial .testimonial-job {
  color: #71717a;
}

.specific-testimonial {
  color: #fff;
  background-color: #000;
}
.specific-testimonial hr {
  background-color: #fff;
}
.specific-testimonial .testimonial-name {
  color: #fff;
}

.profile-img {
  position: relative;
  border: 1px solid black;
}
.profile-img .hyphen {
  right: 0;
  bottom: -0.5rem;
  position: absolute;
}

/*Contact section*/
.contact {
  gap: 2rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  border: 2px solid green;
}
.contact .contact-content {
  gap: 2rem;
  max-width: 38rem;
  padding: 2rem 4rem;
  display: flex;
  align-items: left;
  justify-content: center;
  flex-flow: wrap column;
}

.contact-infos * {
  font-size: 2rem;
  font-weight: var(--fw-semibold);
}

@media screen and (max-width: 500px) {
  .hero-header {
    margin: 0 1rem;
    align-items: center;
    flex-direction: column-reverse;
  }
  .hero-header .hero-header-img {
    margin-left: 0;
    padding: 1rem;
  }
  .hero-header-img {
    margin-left: 8rem;
    padding: 1rem;
  }
  .hero-header-text * {
    text-align: center;
  }
  /* Reseting the position of the social group to make it
     adapt in the normal flow 
  */
  .hero-header-content .social-icons-group {
    position: static;
  }
  /*
      Adapting the options for the experiences section
  */
  .experiences {
    padding: 1rem;
  }
  .experience-subtitle-informations {
    align-items: center;
    justify-content: center;
    border: 2px solid violet;
  }
  .experience-subtitle-informations .experience-subtitle {
    gap: 0.02rem;
  }
  .experience-subtitle-informations .experience-date {
    font-size: 16px;
    text-align: center;
    border: 2px solid white;
  }
  .experience-subtitle h3, .experience-date {
    text-align: center;
  }
  /*
      Adapting the responsive for the about section
  */
  .about {
    gap: 0rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap column;
  }
  .about h2 {
    text-align: center;
  }
  .about .about-img {
    padding: 2rem;
  }
  /*Adapting the styles for the project section*/
  .project-container .project {
    flex-direction: column;
  }
  .project-container .specific-project {
    flex-direction: column-reverse;
  }
  .project-content a {
    display: block;
  }
}

/*# sourceMappingURL=main.css.map */
