/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

#root, #__next {
  isolation: isolate;
}

:root {
  --ff-base: "Sora", sans-serif;
  --fw-bold: 700;
  --fw-regular: 400;
  --fw-semibold: 600;
  --fw-extra-bold: 800;
}

body {
  font-family: var(--ff-base);
}

a {
  color: #000;
  text-decoration: none;
  font-weight: var(--fw-semibold);
}

.fs-bold-title, .fs-regular-title {
  font-size: 3rem;
  text-align: center;
  line-height: 5rem;
  text-align: left;
}

.fs-regular-title {
  font-weight: var(--fw-regular);
}

.fs-bold-title {
  font-weight: var(--fw-extra-bold);
}

.fs-bold-bordered-title {
  background-color: black;
  background-clip: text;
  letter-spacing: -1px;
  font-weight: 800;
  -webkit-text-stroke: 6px transparent;
  color: white;
}

.fs-gray-paragraph {
  font-size: 20px;
  font-weight: 400;
  color: #71717a;
}

button[data-icon=download] {
  border: none;
  color: white;
  cursor: pointer;
  padding: 16px 32px;
  background-color: #000;
}

button[data-icon=download] {
  gap: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  min-width: 10rem;
  max-height: 4rem;
  border-radius: 0.5rem;
}

button[data-icon=download]::after {
  content: "";
  width: 20px;
  height: 20px;
  background-image: url(/ressources/icons/download.svg);
}

/*Useful class-based components abstracts*/
.appear {
  display: block;
}

/*Useful UI components*/
.social-icons-group {
  gap: 2rem;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-flow: row wrap;
}

header {
  --padding-spacing: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
  border: 1px solid black;
  margin: auto;
  max-width: 1280px;
  padding: 1rem 0;
}
header .amburger-menu {
  display: none;
}

.navbar-links-list-parent {
  gap: 2rem;
  list-style: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-flow: row wrap;
}

/*Responsive styles for the header*/
@media screen and (max-width: 1140px) {
  header {
    gap: 16px;
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  /*Reseting all the default parameters for the mobile version*/
  header {
    /* Displaying the amburger-menu*/
    /* Hidding the navbar and the button from the header*/
  }
  header .amburger-menu {
    display: block;
  }
  header .logo-and-menu {
    gap: calc(100vw - 14rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
  }
  header .navbar-links-container, header button[data-icon=download] {
    display: none;
  }
  /* Creating a new disposition for the navbar menu */
  .navbar-links-container {
    width: 100%;
  }
  .navbar-links-container .navbar-links-list-parent {
    display: block;
    padding: 0;
  }
  .navlink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    border: 0.02px solid red;
    width: 100%;
    height: 4rem;
    background-color: #f4f4f5;
  }
}
.hero-header {
  margin: auto;
  padding: 40px 0;
  border: 1px solid black;
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}
.hero-header picture {
  margin-left: -156px;
  border: 1px solid black;
}
.hero-header .hero-header-content {
  gap: 4rem;
  position: relative;
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-flow: wrap column;
}

.hero-header-content * {
  border: 1px solid black;
  max-width: 600px;
}
.hero-header-content .social-icons-group {
  bottom: -8rem;
  position: absolute;
}

.hero-header-text {
  gap: 1rem;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-flow: wrap column;
}

/*# sourceMappingURL=main.css.map */
