@import './variables';


/// Flex mixin allow us to directly use flexbox properties without
/// writing all the stack

@mixin flex-mixin($inline: center, $block: center, $direction: row, $attitude: wrap)
{
    display: flex;
    align-items: $block;
    justify-content: $inline;
    flex-flow: $direction $attitude;
}


/// Border  mixin help me to see clearly the arrangement of the
/// elements in the page's flow

@mixin border($weigth: 1px, $col: black)
{
    border: $weigth solid $col;
}