// Defining the color variables

/// - Primary colors

$primary-black: #000;
$primary-white: #fff;
$primary-neutral: #404040;


/// - Zinc colors
$zinc-100: #f4f4f5;
$zinc-200: #e4e4e7;
$zinc-300: #d4d4d8;
$zinc-500: #71717a;
$zinc-800: #27272a;


/// - Error colors
$error-100: #ef4444;