.contact-form
{
    gap: 1rem;
    padding: 1rem;
    max-width: 35rem;
    margin: 6rem 2rem;
    @include flex-mixin(center, left, wrap, column);

    input, textarea
    {
        padding: 1rem 1.5rem;
        outline: none;
        border-radius: 4px;
        border: 2px solid $primary-black;
    }

    input
    {
        height: 3.5rem;
    }

    textarea
    {
        resize: none;
    }

    .button-section
    {
        gap: 32px;
        @include flex-mixin(space-between);
    }

}


@media screen  and (max-width: 500px) 
{
    .contact-form
    {
        .button-section
        {
            @include flex-mixin(center, center, wrap, column);
        }
    }
}