.contact-form
{
    gap: 1rem;
    max-width: 512px;
    @include  border;
    padding: 1rem;
    @include flex-mixin(center, left, wrap, column);

    input, textarea
    {
        padding: 1rem 1.5rem;
        max-width: 32rem;
        min-width: 28rem;
        display: block;
        outline: none;
        border-radius: 4px;
        border: 1.5px solid $primary-black;
    }

    input
    {
        height: 3.5rem;
    }

    textarea
    {
        resize: none;
    }

    .button-section
    {
        @include flex-mixin(space-between);
    }

    /*.button-section button
    {
        @extend %btn;
    
        gap: 0.8rem;
        @extend %btn;
        @include flex-mixin();
        min-width: 10rem;
        max-height: 4rem;
        border-radius: 0.5rem;
    }*/
}