
footer
{
    min-height: 5rem;
    background-color: $primary-black;

    .footer-content
    {
        padding: 2rem;
        color: white;
        max-width: 1280px;
        margin: 2rem auto 0;
        @include flex-mixin(space-between, center);
    } 
}

.footer-content
{
    .additionnal-informations
    {
        @include flex-mixin(center, end, wrap, column);
    
    }
}




@media screen  and (max-width: 500px) 
{
    footer
    {
        .footer-content
        {
            gap: 32px;
            @include flex-mixin(center, center, wrap, column);
        }
    }
}