
footer
{
    min-height: 5rem;
    background-color: $primary-black;

    .footer-content
    {
        padding: 2rem;
        color: white;
        max-width: 1280px;
        margin: 2rem auto 0;
        @include border(2px, white);
        @include flex-mixin(space-between, center);
    } 
}

.footer-content
{
    .additionnal-informations
    {
        @include border(2px, white);
        @include flex-mixin(center, end, wrap, column);
    
    }
}