@import '../abstracts/mixins';

header
{
    --padding-spacing: 6rem;

    @include flex-mixin(space-between);

    margin: auto;
    max-width: 1280px;
    padding: 1rem 0;

    .amburger-menu
    {
        display: none;
    }

}

.navbar-links-list-parent
{
    gap: 2rem;
    list-style: none;
    font-size: 20px;
    @include flex-mixin(space-between);
}



/*Responsive styles for the header*/

@media screen  and (max-width: 1140px) 
{

    header
    {
        gap: 16px;
        flex-direction: column;
    }

}


@media screen  and (max-width: 500px) 
{
    /*Reseting all the default parameters for the mobile version*/

    header
    {
        /* Displaying the amburger-menu*/

        .amburger-menu
        {
            display: block;
        }

        .logo-and-menu
        {
            gap: calc(100vw - 14rem);
            @include flex-mixin(space-between);
        }

        /* Hidding the navbar and the button from the header*/
        .navbar-links-container
        {
            display: none;
        }

        button[data-icon="download"]
        {
            opacity: 0;
        }
    }
 

    /* Creating a new disposition for the navbar menu */
    .navbar-links-container
    {
        width: 100%;

        .navbar-links-list-parent
        {
            display: block;
            padding: 0;
        }

    }

    .navlink
    {
        @include flex-mixin();
        @include border(0.01px, $zinc-800);

        width: 100%;
        height: 4rem;
        background-color: $zinc-100;
    }
}