@import '../abstracts/mixins';

header
{
    --padding-spacing: 6rem;

    @include flex-mixin(space-between);
    @include border;

    max-width: 1840px;
    margin: auto;
    padding: 1.5rem var(--padding-spacing);

}

.navbar-links ul
{
    gap: 2rem;
    list-style: none;
    font-size: 20px;
    @include flex-mixin(space-between);
}





@media screen  and (max-width: 1140px) 
{

    header
    {
        gap: 16px;
        flex-direction: column;

        *
        {
            @include border;
        }
    }


    .navbar-links
    {
        // display: none;
    }
}


@media screen  and (max-width: 400px) 
{
    .navbar-links
    {
        width: 100%;
        display: block;

        ul
        {
            width: 100%;
            display: block;
            flex-direction: column;
        }

    }

    .navlink
    {
        display: block;
        border: 1px solid;
    }
}