
.skills
{
    gap: 2rem;
    margin: 8rem auto 2rem;
    @include flex-mixin(center, center, wrap, column);  

    .tech-skills-container
    {
        --box-general-size: 11.5rem;

        gap: 4rem;
        max-width: 1216px;
        @include flex-mixin();
    }

}

.tech-skills-container
{
    .tech-skill
    {
        width: var(--box-general-size);
        height: var(--box-general-size);

        gap: 2rem;
        border-radius: 4px;
        @include border(3px);
        @include flex-mixin(center, center, wrap, column);
    }
}

.tech-skill-black
{
    @extend .tech-skill;

    background-color: $primary-black;
    
    .skill-name
    {
        color: white;
    }
}


@media screen  and (max-width: 500px) 
{

    .skills
    {
        /*
            Updating the variable to reduce the skill's box
            size with the length of the screen
        */

        .tech-skills-container
        {
            --box-general-size: 10rem;

            gap: 1rem;
        }
    }

}