
%btn
{
    border: none;
    color: white;
    cursor: pointer;
    padding: 16px 32px;
    background-color: $primary-black;
}

button[data-icon="download"]
{
    gap: 0.8rem;
    @extend %btn;
    @include flex-mixin();
    min-width: 10rem;
    max-height: 4rem;
    border-radius: 0.5rem;
}

button[data-icon="download"]::after
{
    content: '';
    width: 20px;
    height: 20px;
    background-image: url(/ressources/icons/download.svg);
}