@import '../abstracts/mixins';
@import '../abstracts/variables';


/*Useful class-based components abstracts*/

.display-appear
{
    display: block!important;
}

.opacity-appear
{
    opacity: 1!important;
}



/*Useful UI components*/
.social-icons-group
{
    gap: 1.5rem;
    // gap: calc(1rem + 3vw);
    @include flex-mixin(start);
}


.tech-skill
{
    @include border;
}