@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');
@import '../abstracts/mixins';
@import '../abstracts/variables';


:root
{
    --ff-base: 'Sora', sans-serif;

    --fw-bold: 700;
    --fw-regular: 400;
    --fw-semibold: 600;
    --fw-extra-bold: 800;
}

body
{
    font-family: var(--ff-base);
}


a 
{
    color: $primary-black;
    text-decoration: none;
    font-weight: var(--fw-semibold);
}

%fs-title
{
    font-size: 3rem;
    text-align: center;
    line-height: 5rem;
    text-align: left;
    // letter-spacing: -0.02em;
}

.fs-regular-title
{
    @extend %fs-title;

    font-weight: var(--fw-regular);
}

.fs-regular-subtitle
{
    @extend %fs-title;
    font-size: 2rem;

    font-weight: var(--fw-regular);
}


.fs-bold-title
{
    @extend %fs-title;

    font-weight: var(--fw-extra-bold);
}


.fs-semibold-title
{
    @extend %fs-title;

    line-height: normal;
    font-size: 2rem;
    font-weight: var(--fw-semibold);
}


/// The background-clip property is used to fit the black background
/// to the text

/// webkit-stroke is used to set a border to the text, and the color
/// is transparent to have the black background as color of border

.fs-bold-bordered-title
{   
    background-color: black;
    background-clip: text;
    letter-spacing: -1px;
    font-weight: 800;
    -webkit-text-stroke: 6px transparent;  
    color: white;
}

.fs-gray-paragraph
{
    font-size: 20px;
    font-weight: 400;

    color: $zinc-500;
}

.fs-black-paragraph
{
    font-size: 20px;
    font-weight: var(--fw-semibold);

    color: $primary-black;
}





@media screen  and (max-width: 500px) 
{
    %fs-title
    {
        font-size: 2.5rem;
        text-align: center;
        line-height: 5rem;
        text-align: left;
        // letter-spacing: -0.02em;
    }

    .fs-semibold-title
    {
        font-size: 1.5rem;
        line-height: normal;
    }

    .fs-bold-title
    {
        @extend %fs-title;

        line-height: normal;
        font-weight: var(--fw-extra-bold);
    }
    
}