@import '../abstracts/mixins';


/*Hero header section*/
.hero-header
{
    margin: 1rem auto 6rem;
    padding: 40px 0;
    @include border(2px, red);

    font-size: 16px;
    @include flex-mixin();


    .hero-header-img
    {
        margin-left: -156px;
        @include border;
    }

    .hero-header-content
    {
        gap: 4rem;
        position: relative;
        @include flex-mixin(space-between, start, wrap, column);
    }

}

.hero-header-content
{
    *
    {
        @include border;
        max-width: 600px; // To preserve overflowing the wrong way
    }

    .social-icons-group
    {
        bottom: -8rem;
        position: absolute;
    }
}


.hero-header-text
{
    gap: 1rem;
    @include flex-mixin(start, start, wrap, column);
}




/*Experience section*/

.experiences
{
    gap: 4rem;
    padding: 4rem;
    margin: 4rem auto;
    color: $zinc-100;
    @include border(2px, green);
    @include flex-mixin(center, center, wrap, column);
    background-color: $primary-black;
    
    .experiences-section-title
    {
        color: white;
    }

    .experience-box-container
    {
        gap: 2rem;
        @include flex-mixin(center);
    }

}


    .experience-box-container
    {
        .experience-box
        {
            gap: 1rem;
            padding: 24px 30px;
            max-width: 1168px;
            border-radius: 8px;
            @include border(1px, $primary-white);

            @include flex-mixin(center, center, wrap, column);
        }

        .gray-box
        {
            border: none;   
            background-color: $zinc-800;
        }
    }


.experience-box
{
    .experience-subtitle-informations
    {
        width: 100%;
        @include flex-mixin(space-between);
    }

    .experience-date
    {
        font-weight: 800;
    }

}



.experience-subtitle-informations
{

    .experience-subtitle
    {
        gap: 2rem;
        @include border(2px);
        @include flex-mixin();
    }

    @include border(2px, green);
}

.experience-subtitle
{
    h3
    {
        @include border;
        color: white;
    }
}



/*About section*/

.about
{
    gap: 2rem;
    @include flex-mixin();
    @include border(2px, green);

    margin: 2rem auto;
    max-width: 1280px;

    h2
    {
        padding: 0;
        @include border(2px, green);
    }

    .about-content
    {
        gap: 2rem;
        @include flex-mixin(center, left, wrap, column);
    }
}

.p-container
{
    gap: 2rem;
    padding: 2rem;
    max-width: 692px;
    @include border(2px, violet);
    @include flex-mixin(center, center, wrap, column);

    p
    {
        font-size: 18px;
    }
}




/*Project section*/

.projects
{
    color: white;
    background-color: $primary-black;

    
    margin: 2rem auto;
    @include flex-mixin(center, center, wrap, column);

    .project-container
    {
        max-width: 1280px;
        @include flex-mixin(center, center, wrap, column);

        *
        {
            // @include border(2px, white);
        }
    }
}

.project-container
{

    .project
    {
        gap: 2rem;
        padding: 1rem;
        @include flex-mixin(center, center, wrap);
    }
}

.project
{
    .project-content
    {
        max-width: 592px;
    }
}

.project-content
{
    *
    {
        margin-bottom: 1rem;
    }
}


/*Testimonials section*/

.testimonials
{
    gap: 2rem;
    margin: 4rem auto;
    @include border(2px, green);
    @include flex-mixin(center, center, wrap, column);

    .testimonials-container
    {
        gap: 2rem;
        @include border;
        @include flex-mixin();
    }
}

.testimonial
{
    gap: 0.5rem;
    padding: 2rem auto;
    height: 24.5rem;
    border-radius: 1rem;
    @include border;
    @include flex-mixin(center, center, wrap, column);

    hr
    {
        width: 6rem;
        height: 0.1rem;
    }

    .testimonial-description
    {
        padding: 1rem;
        max-width: 292px;
        text-align: center;
    }

    .testimonial-name
    {
        color: $zinc-800;
        font-weight: var(--fw-semibold);
    }

    .testimonial-job
    {
        color: $zinc-500;
    }
}

.specific-testimonial
{
    color: $primary-white;
    background-color: $primary-black;

    hr
    {
        background-color: $primary-white;
    }

    
    .testimonial-name
    {
        color: $primary-white;
    }
}

.profile-img
{
    position: relative;
    @include border;

    .hyphen
    {
        right: 0;
        bottom: -0.5rem;
        position: absolute;
    }
}


/*Contact section*/


.contact
{
    gap: 2rem;
    margin: 2rem auto;
    @include flex-mixin();
    @include border(2px, green);
}




@media screen  and (max-width: 500px) 
{

    .hero-header
    {
        margin: 0 1rem;
        align-items: center;
        flex-direction: column-reverse;


        
        .hero-header-img
        {
            margin-left: 0;
            padding: 1rem;
        }
    }

    .hero-header-img
    {
        margin-left: 8rem;
        padding: 1rem;
    }

    .hero-header-text
    {

        *
        {
            text-align: center;
        }
    }

    /* Reseting the position of the social group to make it
       adapt in the normal flow 
    */
    .hero-header-content
    {
        .social-icons-group
        {
            position: static;
        }
    }



    /*
        Adapting the options for the experiences section
    */
    
    /// Reducing the margin for the mobile version
    .experiences
    {
        padding: 1rem;
    }

    
    .experience-subtitle-informations
    {  
        align-items: center;
        justify-content: center;
        @include border(2px, violet);

        .experience-subtitle
        {
            gap: 0.02rem;
            // flex-direction: row;
        }

        .experience-date
        {
            font-size: 16px;
            text-align: center;
            @include border(2px, white);
        }

    }

    .experience-subtitle h3, .experience-date
    {
        text-align: center;
    }



    /*
        Adapting the responsive for the about section
    */

        
    .about
    {
        gap: 0rem;
        @include flex-mixin(center, center, wrap, column);

        h2
        {
            text-align: center;
        }

        .about-img
        {
            padding: 2rem;
        }
    }


    /*Adapting the styles for the project section*/
    .project-container
    {
        .project
        {
            flex-direction: column;
        }

        .specific-project
        {
            flex-direction: column-reverse;
        }
    }

    .project-content
    {
        a
        {
            display: block;

        }
    }

}